body {
    background-color: #030356;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1 {
    color: aquamarine;
    text-align: center;
}
.descricao {
    width: 300px;
    padding: 0px 60px;
    border-radius: 50px;
    color: #030356;
    text-align: center;
    background-color: white;
    font-size: 15px;
}
.detalhes>span {
    display: block;
    margin-top: 10px;
}
.caixa {
    display: flex;
    justify-content: space-around;
}
.detalhes {
    width: 300px;
    padding: 0px 60px;
    border-radius: 50px;
    color: #030356;
    text-align: center;
    background-color: white;
    font-size: 15px;
}
.botao {
    width: 200px;
    height: 70px;
    margin: 0 auto;
}
button {
    width: 170px;
    height: 46px;
    border-radius: 5px;
    background-color: white;
    border: 0;
    color: #030356;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}